
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    text-align: justify;
}

/*index*/

a{
    background-color: blue;
    padding: 5px;
    text-decoration: none;
    color: yellow;
}

a:hover{
    padding: 7px;
}

#pri{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;      
    padding: 10px;
    border: 10px solid black;
    box-sizing: content-box;
}

#seg{
    height: 100px;
    width: 100px;
    background-color: crimson;     
    color: white;   
    padding: 10px;
    border: 10px solid black;
    box-sizing: border-box;    
}

.caixa{
    background-color: yellow;
    height: 300px;
    overflow: auto;
    margin-top: 10px;
}

.texto{
    font-size: 20px;
}

/*pagina1*/

.paragrafo{
    margin: auto;
    width: 300px;
}

.foto{
    text-align: center;
    margin-top: 10px;
}

/*pagina3*/

.site{
    padding: 0px;
    color: yellow;
}